apiVersion: v1
kind: ConfigMap
metadata:
    name: values
    namespace: flux-system
data:
    values.yaml: |-
          persistence:
            defaultClassReplicaCount: 3
          defaultSettings:
            storageMinimalAvailablePercentage: 10
          defaultBackupStore:
            backupTarget: s3://longhorn-backups@binarybraids/
            backupTargetCredentialSecret: backup-secret